body {
  background-color: rgb(104, 248, 224);
}

.title {
  text-align: center;
  color: indigo;
}

p {
    text-align: center;
}

.box {
  text-align: center;
}

.Porque {
  color: rgb(182, 25, 255);
  font-size: 16px;
  line-height: 1.5;
}

.delete {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.button-container {
  text-align: center;
  margin-top: 50px;
}

.delete {
  display: inline-block;
  padding: 12px 24px;
  background-color: #1DB954;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s;
}

.delete:hover {
  background-color: #17a44a;
}

